.header{
    width: 100%;
    height: 60px;
    padding: 5px 15px 5px 15px;
    background-color: #FFF;
}

.headerText{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}

.main{
  display: block;
  text-align: center;
}
